/** This is the main stylesheet for the sass compiler, all imports should stem from this initial page. It contains the universal styles of the site, the imports and various other items. */
/** The menu is technically the header of the site, it contains the styles for the drop down of the Search Bar. */
header.menu { width: 100%; position: relative; z-index: 10; }

header.menu div.menu-container { width: 100%; background-color: black; padding: 0 20px; text-align: left; }

header.menu div.menu-container div.menu-holder { position: relative; width: 100%; max-width: 1280px; margin: 0 auto; }

header.menu div.menu-container h1 { font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 70px; color: white; text-align: left; display: inline-block; }

header.menu div.menu-container nav { display: inline-block; margin-left: 60px; }

header.menu div.menu-container nav i { color: white; font-size: 30px; line-height: 70px; }

header.menu div.menu-container nav i.search { position: absolute; right: 10px; top: 0; }

header.menu div.menu-container nav a.nav-item { font-family: Helvetica, Arial, Sans-Serif; font-size: 17px; line-height: 70px; text-transform: uppercase; text-decoration: none; white-space: nowrap; border-bottom: 1px solid transparent; color: #FFF; margin-right: 20px; }

header.menu form.search { display: block; font-size: 12px; line-height: 1.5; -webkit-font-smoothing: antialiased; font-family: Helvetica, Arial, sans-serif; text-align: center; -webkit-tap-highlight-color: transparent; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; width: 100%; position: absolute; left: 0; right: 0; z-index: 500; border-bottom: 1px solid #c7c7c7; background: white; }

header.menu form.search div.search-container { text-align: center; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 1281px; margin: 0 auto; position: relative; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

header.menu form.search div.search-container input.search-field { margin: 0; vertical-align: baseline; -webkit-box-sizing: border-box; box-sizing: border-box; outline: 0; border-style: solid; border-color: #999999; width: 100%; -webkit-transition: border-color .3s ease-in-out; border-radius: 0; -webkit-appearance: none; text-transform: uppercase; padding: 0; height: 60px; border-width: 0; line-height: 60px; font-size: 30px; }

header.menu form.search div.search-container div.products { text-align: left; -webkit-box-sizing: border-box; box-sizing: border-box; border-top: 1px solid #c7c7c7; padding: 15px 0 10px; }

header.menu form.search div.search-container div.products div.product { text-align: left; -webkit-box-sizing: border-box; box-sizing: border-box; width: 25%; float: left; clear: none; padding-right: 15px; padding-bottom: 10px; }

header.menu form.search div.search-container div.products div.product img.product-image { text-align: left; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; float: left; width: 50%; padding-right: 7.5px; }

header.menu form.search div.search-container div.products div.product div.product-body { text-align: left; -webkit-box-sizing: border-box; box-sizing: border-box; float: right; width: 50%; padding-left: 7.5px; }

header.menu form.search div.search-container div.products div.product div.product-body h4.product-name { text-align: left; -webkit-box-sizing: border-box; box-sizing: border-box; text-transform: uppercase; line-height: 1; font-size: 18px; padding: 0; display: inline-block; -webkit-transition: border-bottom-color .3s ease-in-out; text-decoration: none; border-bottom: none; margin: 0; }

header.menu form.search div.search-container div.products div.product div.product-body div.product-description { text-align: left; -webkit-box-sizing: border-box; box-sizing: border-box; text-transform: uppercase; }

header.menu form.search div.search-container div.shown-results { text-align: left; -webkit-box-sizing: border-box; box-sizing: border-box; height: 60px; border-top: 1px solid #c7c7c7; display: block; line-height: 60px; padding-top: 0; }

header.menu form.search div.search-container div.shown-results a.results-display { text-align: left; line-height: 60px; -webkit-box-sizing: border-box; box-sizing: border-box; text-transform: uppercase; -webkit-transition: border-bottom-color .3s ease-in-out; text-decoration: none; border-bottom: none; }

header.menu form.search div.search-container div.shown-results a.results-display span.search-count { text-align: left; line-height: 60px; text-transform: uppercase; -webkit-box-sizing: border-box; box-sizing: border-box; }

/** This is the central home page */
section#home { position: absolute; width: 100%; height: 100%; top: 0; left: 0; padding: 100px 20px 0; background-image: url("/img/header.jpg"); background-size: cover; background-repeat: no-repeat; }

section#home div.content { max-width: 1280px; margin: 0 auto; color: #FFF; }

html, html * { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }

html, body { width: 100%; height: 100%; }

main { width: 100%; height: 100%; display: block; position: relative; }

main * { -webkit-font-smoothing: antialiased; }

main a { -webkit-transition: opacity .5s; transition: opacity .5s; }

main a:hover { opacity: 0.7; }

main a:visited { color: inherit; }

main div.inner { width: 100%; height: auto; background-color: #960000; }

/*# sourceMappingURL=main.css.map */
